<div class="openings">
	<ul>
		<li class="group" ng-repeat="group in groups"> 
			<a href="#/groups/{{group}}/"> {{ group }} </a> 
			<a href="#/groups/{{group}}/train"> train </a>    	
		</li>
	</ul>

	<ul>
		<li class="opening" ng-repeat="opening in openings | filter:{'group':learningGroup}"> 
			<a href="#/groups/{{learningGroup}}/learn/{{opening.name}}"> {{ opening.name }} </a> 
		</li>
	</ul>

</div>


<div class="game">

	<div ng-switch on="learningGroup">
	    <div ng-switch-when="unmatcable">
	    	<h1>Click on group name to list openings,<br/>
	    	or click on train button near to start training.</h1>
	    </div>
	    <div ng-switch-default>
	    	<h1>{{ learningGroup }} group<h1/>
	        <h2>Click on opening in list to learn opening from<h2/>
	    </div>
	</div>

</div>