<div class="openings">
	<ul>
		<li class="opening" ng-repeat="opening in trainingOpenings"> 
			{{ opening.name }} 
		</li>
	</ul>
</div>


<div class="game">

	<h1>{{ opening.name }}</h1>

	<div id="board"></div>

	<div id="control">
		<div class="buttons" id="learning_buttons">
			<div class="button button-reload enabled">Reload</div>
			<div class="button button-play enabled">Play</div>
			<div class="button button-step enabled">Step</div>
		</div>

		<div id="info"></div>
		<div id="moves"></div>
	</div>
</div>