<div class="openings">
	<ul>
		<li class="opening" ng-repeat="opening in trainingOpenings"> 
			{{ opening.name }} 
		</li>
	</ul>
</div>


<div class="game">

	<h1></h1>

	<div id="board"></div>

	<div id="control">

		<div>
			<label>Scope:</label> <label id="ratingLabel">0</label>
		</div>
		<div>
			<label>Openings left:</label> <label id="openingsLeftLabel">0</label>
		</div>


		<div class="buttons" id="training_buttons">
			<div class="button button-end enabled">End</div>
			<div class="button button-skip enabled">Skip</div>
			<div class="button button-hint enabled">Hint</div>
		</div>

		<div id="info"></div>
		<div id="moves"></div>
	</div>
</div>