<div class="game training">

	<h2></h2>

	<div id="board"></div>


	<div class="openingsLeft">
		<h3>Openings left</h3>
		<ul>
			<li class="openingLeft" ng-repeat="opening in trainingOpenings"> 
				{{ opening.name }} 
			</li>
		</ul>
	</div>

	<div id="control">

		<div>
			<label>Score:</label> <label id="ratingLabel">0</label>
		</div>
		<div>
			<label>Openings left:</label> <label id="openingsLeftLabel">0</label>
		</div>


		<div class="buttons">
			<div class="button button-end enabled">End</div>
			<div class="button button-skip enabled">Skip</div>
			<div class="button button-hint enabled">Hint</div>
		</div>

		<div id="info"></div>
		<div id="moves"></div>
	</div>

</div>