<div class="openings">
	<ul>
		<li class="group" ng-repeat="group in groups"> 
			<a href="#/groups/{{group}}/"> {{ group }} </a>    	
		</li>
	</ul>
</div>


<div class="game">

	<div class="user">

		<div>
			<label>Username:</label>
			<label>{{ user.name }}</label>
		</div>
		<div>
			<label>Best game:</label>
			<div>
				<label>{{ user.best_game.group }}</label>
				<label>{{ user.best_game.score }}</label>
			</div>
		</div>

		<div>
			<label>Best games by group:</label>
			<div ng-repeat="game in user.best_games_by_group">
				<label>{{ game.group }}</label>
				<label>{{ game.score }}</label>
			</div>
		</div>

	</div>
	
</div>